// ======================================
//  Variables
// ======================================

// Colors

$white: #fff;

$warning:#fd7856;
$color-secondary:#51ddfc;
$headline-primary:#58e1c1;
$headline-secondary: #777;
$default:#51ddfc;
$error: #e4757a;
$info: #927bc1;
$success: #63cc82;
$theme1:#927bc1;
$theme3: #deb2ee;
$theme4:#95a3a7;
$theme5:#90a195;
$theme6:#4da2bb;
$theme7:#ec9fa3;
$theme8:#fd9f85;
$theme9: #e4757a;
$theme10:#63cc82;
$theme11:#51ddfc;
$theme12:  #80e8d1;


// Breakpoints
 $med: 768px;
