// ======================================
//  Variables
// ======================================

// Colors
$white: #fff;
$color-primary:teal;
$color-secondary: lighten($color-primary, 20%);
$color-secondary:darken($color-primary, 10%);
$color-footer:black;
$color-shade: #eee;


// Breakpoints
  $extr-small: 575px; 
  $small: 576px;
  $medium: 768px;
  $large: 992px;
