// ======================================
//  Variables
// ======================================

// Colors

$white: #fff;

$warning:#fd7856;
$color-secondary:#51ddfc;
$headline-primary:#58e1c1;
$headline-secondary: #777;

// Breakpoints
 $med: 768px;
