/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
    padding: 0 10px;
  }
  
  .row {
    display: flex;
    flex-direction: column;
    padding: 1em 10px;
  }
  
  [class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .theme.col-1 {
    background-color: $theme1;
  }
  
  .theme.col-2 {
    background-color: $warning;
  }
  
  .theme.col-3 {
    background-color: $theme3;
  }
  
  .theme.col-4 {
    background-color: $theme4;
  }
  
  .theme.col-5 {
    background-color: $theme5;
  }
  
  .theme.col-6 {
    background-color: $theme6;
  }
  
  .theme.col-7 {
    background-color: $theme7;
  }
  
  .theme.col-8 {
    background-color: $theme8;
  }
  
  .theme.col-9 {
    background-color: $theme9;
  }
  
  .theme.col-10 {
    background-color: $theme10;
  }
  
  .theme.col-11 {
    background-color: $theme11;
  }
  
  .theme.col-12 {
    background-color: $theme12;
  }
  
  .card {
    flex-basis: 100%;
  }
  